/* общие стили */

:root{
  --primary: #FF6F16;
  --hover: #CC5B15;
  --secondary-text: #B8B8B8;
}

@font-face {
  font-family: 'Unbounded';
  src: url(fonts/Unbounded-VariableFont_wght.ttf);
}

body{
  margin: 0;
  font-family: 'Unbounded';
}

h1{
  font-weight: bold;
  font-size: 48px;
  color: white;
}

h2{
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h3{
  font-size: 24px;
  font-weight: normal;
}

h4{
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

p{
  font-size: 20px;
  font-weight: lighter;
  color: var(--secondary-text);
}

li{
  font-size: 20px;
  list-style-type: none;
  font-weight: 600;
}

ul>li{
  list-style-type: disc;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: var(--primary);
}

.form-button{
  padding: 20px 25px;
  font-size: 18px;
  font-family: 'Unbounded';
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.form-button:hover{
  background-color: var(--hover);
}

@media (max-width:768px) {
  h1{font-size: 40px;}
  h2{font-size: 28px;}
  h3{font-size: 20px;}
  h4, p{font-size: 16px;}
  li{font-size: 14px;}
  .form-button{font-size: 16px;}
}

@media (max-width:480px) {
  h1{font-size: 36px;}
  h2{font-size: 20px;}
  h3{font-size: 14px;}
  h4, p{font-size: 14px;}
  li{font-size: 14px;}
  .form-button{font-size: 14px;}
}

/* шапка */
header{
  width: 100%;
  height: 117px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100000;

}
.header-container{
  width: 85%;
  display: flex;
  align-items: center;
  gap: 75px;
}

.nav-container{
  display: flex;
  align-items: center;
  gap: 75px;
}

nav{
  display: flex;
  gap: 75px;
  align-items: center;
}
header .form-button{
  text-transform: uppercase;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--primary);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* модальное окно */

.modal {
  width: 100%;
  height: 800vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  display: none;
  pointer-events: none;
  overflow: auto;
}
.modal:target {
  display: block;
  pointer-events: auto;
}

.modal-container {
  width: 20vw;
  position: relative;
  margin: 10% auto;
  padding: 30px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--primary);
}

.modal-header>h2{
  text-transform:unset;
  margin: 0;
}

.close {
  color: black;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content>a{
  font-weight: lighter;
  color: var(--secondary-text);
}
.modal-content>a:hover{
  color: var(--primary);
}

.modal-content>input{
    width: 90%;
}

@media (max-width:768px) {
  .modal-container{
    width: 50vw;
  }
  
}

@media (max-width:480px) {
  .modal-container{
    width: 70vw;
  }
}

input{
  outline: none;
  padding: 15px 20px;
  font-family: 'Unbounded';
  border: 1px solid var(--secondary-text);
  border-radius: 5px;
  background: #fbfbfb;
}

input::placeholder{
  color: var(--secondary-text);
}

input:hover, input:focus{
  border: 1px solid var(--primary); 
}

input:focus::placeholder{
  color: var(--primary);
}

/* основной контент */

.main-page{
  width: 100%;
  height: 100vh;
  background: url(img/main-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.main-container{
  width: 85%;
  margin-bottom: 140px;

}

.main-container>h1{
  width: 50%;
}

/* адаптив главный экран */

@media (max-width:768px) {
  header{
    height: 100px;
  }
  .header-container{
    gap: 35px;
    width: 92%;
  }
  .header-container>img{
    width: 62px;
  }
  .nav-container{
    gap: 35px;
  }
  nav{
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
  }
  .main-page{
    background-position: right 50% top 0%;
  }
  .main-container{
    width: 92%;
    margin-bottom: 65px;
  }
  .main-container>h1{
    width: 75%;
  } 
}

@media (max-width:480px) {
  header{
    height: 75px;
  }
   .menu-button-container {
    display: flex;
  }
  .header-container{
    width: 97%;
    justify-content: space-between;
  }
  .nav-container {
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 0;
  }

  .nav-container form{
    width: 286px;
  }
  #menu-toggle ~ .nav-container nav li,   #menu-toggle ~ .nav-container form {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
  }
  #menu-toggle ~ .nav-container{
    opacity: 0;
    transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .nav-container{
    opacity: 1;
  }
  #menu-toggle:checked ~ .nav-container nav li,   #menu-toggle:checked ~ .nav-container form {
    /* border: 1px solid #ffffff; */
    height: 3em;
    padding: 1em;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  }

  .main-container{
    width: 98%;
  }

  .main-container>h1{
    width: 100%;
  }
}

/* виды работ */
.work-type{
  width: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.type-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 110px;
}

.type-content{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.type-block{
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 15px;
}

.type-block>h3{
  margin: 0;
}

@media (max-width:768px) {
  .type-container{
    width: 92%;
    gap: 30px;
  }
  .type-block{
    width: 330px;
  }
  .type-block img{
    width: 265px;    
  }
}

@media (max-width:480px) {
  .type-container{
    width: 97%;
  }
  .type-content{
    justify-content: center;
  }
}

/* материалы */

.materials{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.materials-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}

.materials-content{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.material-block{
  width: 375px;
  text-align: center;
}

.material-block img{
  width: 100%;
}

@media (max-width:768px) {
  .materials-container{
    width: 92%;
  }

  .materials-content{
    gap: 60px;
    justify-content: center;
  }

  .material-block{
    width: 282px;
  }
}

@media (max-width:480px) {
  .materials-container{
    width: 97%;
  }
  .materials-content{
    gap: 40px;
  }
  
}

/* новости */

.news{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.news-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.news-content{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.new-block{
  text-align: center;
  width: 513px;
}
.new-block img{
  width: 100%;
}

@media (max-width:768px) {
  .news-container{
    width: 92%;
  }
  .new-block{width: 100%;}

  .new-block img{
    object-fit: cover;
    height: 370px;
  }
  
}

@media (max-width:480px) {
  .news{
    margin-top: 75px;
  }
  .news-container{
    gap: 30px;
  }
}

/* строительство помещений */

.buildings{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.building-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.build{
  display: flex;
  gap: 40px;
}

.bathroom{
  display: flex;
  flex-direction: row-reverse;
}

.build-content{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.build-content-text{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.build-content ul>li{
  color: var(--secondary-text);
}

@media (max-width:768px) {
  .building-container{
    width: 92%;
  }

  .build{
    width: 100%;
    flex-direction: column;
  }

  .build-img img{
    width: 100%;
    object-fit: cover;
  }
  
}

@media (max-width:480px) {
  .building-container{
    width: 97%;
    gap: 25px;
  }
  .build-content-text{
    gap: 20px;
  }
}

/* техника */

.technology{
  margin-top: 140px;
  width: 100%;
  background: url(img/technology-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}

.technology-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.technology-container>h2{
  color: white;
}

.technology-content{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.technology-block{
  width: 375px;
  height: 323px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width:768px) {
  .technology-container{
    width: 92%;
  }
  .technology-block{
    width: 330px;
    height: 285px;
  }

  .technology-block>img{
    width: 130px;
    height: 130px;
  }
}

@media (max-width:480px) {
  .technology-container{
    width: 97%;
  }
  .technology-content{
    justify-content: center;
  }

  .technology-block{
    width: 300px;
    height: 230px;
  }

  .technology-block>img{
    width: 115px;
    height: 115px;
  }
  
}

/* документация */

.documentation{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.documentation-container{
  width: 85.1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.documentation-content{
  width: 100%;
}

.documentation-content>ul{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.documentation-content>ul>li::marker{
  color: var(--primary);
}

@media (max-width:768px) {
  .documentation{
    margin-top: 70px;
  }
  .documentation-container{
    width: 92%;
  }

  .documentation-content>ul>li{
    font-size: 20px;
  }
}

@media (max-width:480px) {
  .documentation{
    margin-top: 40px;
  }
  .documentation-container{
    width: 97%;
    gap: 40px;
  }
  .documentation-content>ul>li{
    font-size: 14px;
  }
}

/* подвал */

footer{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2D2D2D;
}

.footer-container{
  margin-top: 50px;
  width: 85.1%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}

.footer-block{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-block>a{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.footer-block>a:hover{
  color: var(--hover);
}

.footer-block>img{
  width: 97px;
}

.button-up{
  background: var(--primary);
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-up:hover{
  background: var(--hover);
}

.footer-bottom{
  width: 85.1%;
  display: flex;
  justify-content: space-between; 
  margin-top: 150px;
  align-items: center;
}

.footer-bottom>h4{
  color: white;
  opacity: 0.4;
  font-weight: bold;
}

@media (max-width:768px) {
  .footer-container{
    width: 92%;
    gap: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
  }
  .footer-block>img{
    width: 70px;
  }
  .button-up{
    width: 70px;
    height: 70px;
  }
  .button-up svg{
    width: 25px;
  }

  .footer-block>a{
    font-size: 16px;
  }

  .static{
    position: absolute;
    top: -4px;
    right: 30px;
  }

  .block-static{
    position: absolute;
    top: 160px;
    right: 30px;
  }
}

@media (max-width:480px) {
  .footer-block>img{
    width: 70px;
  }
  .footer-container{
    width: 97%;
    gap: 50px;
  }
  .block-static{
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .button-up{
    width: 60px;
    height: 60px;
  }
  .button-up svg{
    width: 21px;
  }
  .footer-bottom{
    margin-top: 70px;
    width: 97%;
  }
  .icons{
    display: flex;
    gap: 20px;
  }

  .icons img{
    width: 35px;
  }
  
}
